In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/raw/wustl_hdrl_2024.csv')

C:\Users\ABHINAV\AppData\Local\Temp\ipykernel_39448\2994708774.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/raw/wustl_hdrl_2024.csv')

In [4]:
df.shape

(145123, 77)

In [5]:
df.sample(5)

,Dir,Flgs,SrcAddr,DstAddr,Sport,Dport,SrcBytes,DstBytes,SrcLoad,DstLoad,...,sswap_sin,sswap_sout,sdiskusage_total,sdiskusage_used,sdiskusage_free,sdiskusage_percent,Boot_Time_with_date,DTime,Attack_categories,Label
89191,->,e,198.51.100.100,192.168.4.2,44004,4022,1657.0,272.0,10454.0,1608.0,...,0,0,30612852736,18229886976,11051552768,62,2023-12-23 15:40:42,25.491122,normal,0
112210,->,e,198.51.100.100,192.168.4.2,60248,4022,1647.0,272.0,10388.0,1608.0,...,0,0,30612852736,18909638656,10371801088,64,2023-12-23 15:40:42,26.632241,normal,0
38773,->,e,198.51.100.100,192.168.4.2,55096,4022,1653.0,272.0,10428.0,1608.0,...,0,0,30612852736,16736657408,12544782336,57,2023-12-23 15:40:42,23.216559,normal,0
127481,->,e,198.51.100.100,192.168.4.2,43288,4022,1648.0,272.0,10355.0,1602.0,...,0,0,30612852736,19333087232,9948352512,66,2023-12-23 15:40:42,26.874941,normal,0
69604,->,e,192.168.3.2,192.168.2.2,40534,4022,1686.0,272.0,10591.0,1602.0,...,0,0,502392610816,51719782400,425077456896,10,2023-12-23 15:38:11,105.335327,normal,0

In [8]:
df.describe()

,Dport,SrcBytes,DstBytes,SrcLoad,DstLoad,SrcGap,DstGap,SIntPkt,DIntPkt,SIntPktAct,...,sswap_free,sswap_percent,sswap_sin,sswap_sout,sdiskusage_total,sdiskusage_used,sdiskusage_free,sdiskusage_percent,DTime,Label
count,145123.0,145123.000000,145123.000000,145123.000000,145123.000000,1.451230e+05,145123.0,145123.00000,145123.000000,145123.000000,...,1.451230e+05,145123.0,145123.0,145123.0,1.451230e+05,1.451230e+05,1.451230e+05,145123.000000,145123.000000,145123.000000
mean,4022.0,1719.139054,264.862331,10509.177084,1516.387965,3.359426e+02,0.0,207.52576,412.327589,0.011336,...,1.312669e+09,0.0,0.0,0.0,3.095787e+11,2.915271e+10,2.647472e+11,31.329155,42.809671,0.084335
std,0.0,174.272450,30.809559,3372.555854,355.147176,1.279774e+05,0.0,80.89181,292.028591,5.551848,...,1.004143e+09,0.0,0.0,0.0,2.319243e+11,1.669265e+10,2.108464e+11,26.801321,40.641806,0.277891
min,4022.0,1445.000000,0.000000,0.000000,0.000000,0.000000e+00,0.0,-1.00000,-1.000000,-1.000000,...,1.048535e+08,0.0,0.0,0.0,3.061285e+10,1.302311e+10,9.289617e+09,3.000000,0.000119,0.000000
25%,4022.0,1648.000000,272.000000,10389.000000,1595.000000,0.000000e+00,0.0,128.62425,337.592000,0.000000,...,1.048535e+08,0.0,0.0,0.0,3.061285e+10,1.538252e+10,1.211686e+10,10.000000,12.025640,0.000000
50%,4022.0,1662.000000,272.000000,10477.000000,1608.000000,0.000000e+00,0.0,253.24350,338.074344,0.000000,...,2.147480e+09,0.0,0.0,0.0,5.023926e+11,1.818370e+10,4.249763e+11,10.000000,24.806873,0.000000
75%,4022.0,1686.000000,272.000000,10654.000000,1610.000000,0.000000e+00,0.0,253.72825,338.338656,0.000000,...,2.147480e+09,0.0,0.0,0.0,5.023926e+11,5.171699e+10,4.263381e+11,59.000000,104.565509,0.000000
max,4022.0,3406.000000,544.000000,194634.000000,18397.000000,4.875300e+07,0.0,2997.51000,2999.003000,2114.016000,...,2.147481e+09,0.0,0.0,0.0,5.023926e+11,5.194837e+10,4.615921e+11,100.000000,136.367861,1.000000